* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  cursor: default;
}

body {
  height: 100vh;
}

.win {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
  background-image: url(../image/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex-direction: column;
  overflow: hidden;
}

.heading {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  gap: 0.5rem;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  color: black;
  font-family: "Gentium Book Plus", serif;
}

.heading img {
  width: 60px;
  height: auto;
  transform: scale(1.3);
  clip-path: circle(35% at 50% 50%);
}

.box {
  width: 25rem;
  height: 33rem;
  margin: auto;
  background: rgba(255, 255, 255, 0.596);
  border-radius: 20px;
  color: black;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

.data {
  width: 100%;
  height: 80%;
}

form {
  margin: 20px;
}

.searchBar {
  width: 80%;
  height: 2rem;
  border: none;
  outline: 0;
  border-radius: 5px;
  padding: 1rem;
  margin: 0.5rem;
  font-size: 1.2rem;
  background: transparent;
  cursor: text;
  border: 2px solid gray;
}

.searchBar:focus {
  background-color: lightgray;
}

.searchBar:focus::placeholder {
  font-size: 0;
}

.searchButn {
  width: 3rem;
  height: 3rem;
  border: 1.5px solid gray;
  border-radius: 50%;
  background: transparent;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.2);
  color: black;
  cursor: pointer;
}

.searchButn:hover {
  background: lightgray;
  color: #2f69fe;
}

h2 {
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-size: 900;
}

h2 i {
  color: orange;
}

.box_1 {
  width: 100%;
  height: 10rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0;
  padding: 1rem;
  border-bottom: 1px solid gray;
}

.leftbox {
  width: 40%;
  height: 100%;
  display: flex;
  padding: 0.2rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
}

.leftbox img {
  transform: scale(1.3);
  width: 5rem;
  height: 80%;
}

span {
  font-size: 1.3rem;
  font-weight: 900;
}

.rightbox {
  height: 100%;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 0.2rem;
}

.tmp {
  font-size: 2.5rem;
  font-family: "Merriweather", serif;
  height: 60%;
}

h3 {
  font-size: 1.3rem;
  font-family: "Merriweather", serif;
}

.dt {
  font-weight: 700;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 52%;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.boxes {
  position: relative;
  width: 48%;
  height: 4.3rem;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.boxes i {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 2rem;
  color: #2f69fe;
}

.boxes .atrb {
  position: absolute;
  bottom: 0.1rem;
  left: 1rem;
  font-size: 1rem;
  font-weight: 700;
}

.boxes .num {
  position: absolute;
  bottom: 1.7rem;
  right: 0.5rem;
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Merriweather", serif;
}

@media (max-width: 500px) {
    h1{
        font-size: 2rem;
    }
  .box {
    width: 95%;
    height: 30rem;
  }
  form {
    margin: 0.5rem 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
  .searchBar {
    width: 70%;
  }
  .searchButn {
    width: 2.5rem;
    height: 2.5rem;
  }

  .box_1 {
    height: 30%;
  }
  .leftbox img {
    transform: scale(1.3);
    height: 70%;
  }

  .leftbox span {
    font-size: 1.1rem;
  }
  .tmp {
    margin-top: 1.5rem;
    font-size: 1.2rem;
  }
  h3 {
    font-size: 70%;
  }
  .dt {
    font-size: 0.6rem;
  }
  .boxes {
    height: 4.7rem;
  }

  .boxes i {
    font-size: 1.5rem;
    top: 1rem;
  }

  .boxes .num {
    bottom: 0;
    top: 1rem;
    font-size: 0.8rem;
  }

  .boxes .atrb {
    font-size: 0.8rem;
    left: 0.5rem;
    bottom: 0.5rem;
  }
}
